# --- 备份与临时文件 ---
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list/
tramp
/recentf
/history
/.bookmarks.el
/eshell/history
/eshell/lastdir

# --- 插件存放目录 (重要) ---
# 我们通常不把 elpa 文件夹存入 Git，因为 init.el 会自动根据配置重新下载
# 这样你的仓库会非常轻量
elpa/
tree-sitter/
/url/
/request/

# --- 自动生成的配置 ---
# 如果你希望在不同电脑上同步不同的 UI 设置，可以忽略 custom.el
# 但如果你希望所有电脑完全一致，可以把它注释掉（不忽略）
custom.el

# --- 语言服务器缓存 ---
.lsp-session-v1
.cache/

# 忽略 Emacs 自动生成的项目列表
projects